$backgroundBlack: #000;
$fontColorWhite: #fff;
$fontFamilyDefault: "Montserrat", sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundBlack;
  color: $fontColorWhite;
  font-family: $fontFamilyDefault;
}

h1,
h2,
h3,
h4 {
  font-family: $fontFamilyDefault;
}
